<div class="container-fluid" id="global">
  <div class="row">
    <div class="col-md-4" style="padding-right: 16px;">
      <div class="container-fluid" id="temp">
        <div class="icon-temp">
          <i class="fas fa-thermometer-half"></i>
        </div>
        <div class="text-temp">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid" id="bed" (click) = bedSwitch()>
            <div class="icon-bed">
              <i class="fas fa-bed"></i>
            </div>
            <div class="text-bed" *ngIf='ledC==="True"'>
              On
            </div>
            <div class="text-bed" *ngIf='ledC==="False"'>
              Off
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="container-fluid" id="car">
            <div class="icon-car">
              <i class="fas fa-car-side"></i>
            </div>
            <div class="text-car" *ngIf='ledG==="True"'>
              On
            </div>
            <div class="text-car" *ngIf='ledG==="False"'>
              Off
            </div>
          </div>

        </div>


      </div>






      <div class="row" style="margin-top:31px">
        <div class="col-md-6">
          <div class="container-fluid" id="bath" (click) = bathSwitch()>
            <div class="icon-bath">
              <i class="fas fa-bath"></i>
            </div>
            <div class="text-bath" *ngIf='ledSDB==="True"'>
              On
            </div>
            <div class="text-bath" *ngIf='ledSDB==="False"'>
              Off
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="container-fluid" id="tv" (click) = TVSwitch()>
            <div class="icon-tv">
              <i class="fas fa-tv"></i>
            </div>
            <div class="text-tv" *ngIf='ledS==="True"'>
              On
            </div>
            <div class="text-tv" *ngIf='ledS==="False"'>
              Off
            </div>
          </div>

        </div>


      </div>

    </div>
  </div>
  <div class="row" style="margin-top: 31px">
    <div class="col-md-6">
      <div class="container-fluid" id="warehouse"(click) = carSwitch()>
        <div class="icon-warehouse">
          <i class="fas fa-warehouse"></i>
        </div>
        <div class="text-warehouse">
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid" id="door">
          <div class="icon-door">
            <i class="fas fa-door-open"></i>
          </div>
          <div class="text-door">
          </div>
        </div>
      </div>
  </div>
</div>